@use "../abstracts" as *;

.intro {
  @include flex(null, center, null);
  min-height: 100vh;
  &__bk {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      object-fit: cover;
    }
    @include overlay(rgb($black, 0.5));
  }
  &__deskbk {
    display: none;
  }
  @include media($md) {
    &__deskbk {
      display: block;
    }
    &__mobbk {
      display: none;
    }
  }
}
